<div class="{{this.currentBarClasses}}" style="{{this.currentBarWidth}}{{this.getSticky}}{{this.getScrolly}}">
  {{#each this.inScopeComponents as |inScopeComponent|}}
      <div class="component-widget">
        {{component inScopeComponent.component_name}}
      </div>
  {{/each}}
</div>