<div class="{{this.currentBarClasses}} {{this.toggleState}} {{this.visability}}" style="{{this.currentBarWidth}}{{this.getSticky}}{{this.getScrolly}}">
  <div class="button-bar">
    {{#if (theme-setting "sidebars_collapsible")}}
      <DButton class="toggler-button" @icon={{this.toggleIcon}} @action={{this.toggleTheState}}/>
    {{/if}}
    {{#if (theme-setting "sidebars_dismisable")}}
      <DButton class="close-button" @icon="times" @action={{this.dismiss}}/>
    {{/if}}
  </div>
  <div class="bar-content">
    {{#each this.inScopeComponents as |inScopeComponent|}}
        <div class="component-widget">
          {{component inScopeComponent.component_name}}
        </div>
    {{/each}}
  </div>
</div>